
<!-- Main content section -->
	<section class="main-content">
		<div class="wrapper">
			<article class="da-all ta-all mb-all">
				<!-- Start of banner component -->
				<div class="box gray-light center-text">
					<p>Banner content area</p>
				</div>
				<!-- End of banner component -->
			</article>

			<aside class="da1-da3 ta1-ta2 mb-all">
				<!-- Start of left rail component -->
				<div class="box gray-light center-text">
					<p>Left rail</p>
				</div>
				<!-- End of left rail component -->
			</aside>

			<article class="da4-da12 ta3-ta9 mb-all">
				<!-- Start of main content component -->
				<div class="box gray-light center-text">
					<p>Main content area</p>
				</div>
				<!-- End of main content component -->
			</article>
		</div>
	</section>