

<!-- Main content section -->
	<section class="main-content">
		<div class="wrapper">
			
			<article class="da1-da9 ta1-ta7 mb-all">
				<!-- Start of banner component -->
				<div class="da-all ta-all mb-all">
					<div class="box gray-light center-text">
						<p>Banner content area</p>
					</div>
				</div>
				<!-- End of banner component -->

				<!-- Start of main content component -->
				<div class="da-all ta-all mb-all">
					<div class="box gray-light center-text">
						<p>Main content area</p>
					</div>
				</div>
				<!-- End of main content component -->
			</article>

			<aside class="da10-da12 ta8-ta9 mb-all">
				<!-- Start of left rail component -->
				<div class="box gray-light center-text">
					<p>Right rail</p>
				</div>
				<!-- End of left rail component -->
			</aside>
		</div>
	</section>
