
/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Please create all Bootstrap overrides here.
*/

/* 
-------------------------------------------------- */
  .container-fluid {
    max-width: 1180px;
    margin:0 auto;
    padding-right: 0px;
    padding-left: 0px;
    *zoom: 1;
  }



/* FONTS
-------------------------------------------------- */


@font-face {
    font-family: 'museo-sans-for-dell-100Rg';
    src: url('../fonts/museosansfordell-100-webfont.eot');
    src: url('../fonts/museosansfordell-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-100-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-100-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-100-webfont.svg#museo_sans_for_dell_100Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans-for-dell-300Rg';
    src: url('../fonts/museosansfordell-300-webfont.eot');
    src: url('../fonts/museosansfordell-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-300-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-300-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-300-webfont.svg#museo_sans_for_dell_300Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans-for-dell-700Rg';
    src: url('../fonts/museosansfordell-700-webfont.eot');
    src: url('../fonts/museosansfordell-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-700-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-700-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-700-webfont.svg#museo_sans_for_dell_700Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-for-dell-100regular';
    src: url('../fonts/museofordell-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-100-webfont.woff') format('woff'),
         url('../fonts/museofordell-100-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-100-webfont.svg#museo_for_dell_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'museo-for-dell-300regular';
    src: url('../fonts/museofordell-300-webfont.eot');
    src: url('../fonts/museofordell-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-300-webfont.woff') format('woff'),
         url('../fonts/museofordell-300-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-300-webfont.svg#museo_for_dell_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'museo-for-dell-700regular';
    src: url('../fonts/museofordell-700-webfont.eot');
    src: url('../fonts/museofordell-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-700-webfont.woff') format('woff'),
         url('../fonts/museofordell-700-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-700-webfont.svg#museo_for_dell_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'icon-dell-mini';
  src:url('../fonts/icon-dell-mini.eot');
  src:url('../fonts/icon-dell-mini.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-dell-mini.svg#icon-dell-mini') format('svg'),
    url('../fonts/icon-dell-mini.woff') format('woff'),
    url('../fonts/icon-dell-mini.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* TYPOGRAPHY
-------------------------------------------------- */


body {
  margin: 0;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
}

p {
  margin: 0 0 20px 0;
}

a {
  color: #0085c3;
  text-decoration: none;
}

a:hover {
  color: #0085c3;
  text-decoration: underline;
}

a.white_text {
  color:#ffffff;
  text-decoration: none;
}

a:hover.white_text {
  color: #ffffff;
  text-decoration: underline;
}

/*
================================================
Headers for desktop
================================================
*/

/* Edits made by:; AJ Lohman - just organized them a bit*/
/* headers - All*/
h1, h2 {
  font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* Edits made by AJ Lohman */
h3, h4, h5 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1      {font-size: 36px;line-height: 40px;}
h2      {font-size: 28px;line-height: 32px;}
h3      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
h4      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h5      {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}

/* Header - featured*/
h4.feature {font-size: 50px;line-height: 100px;font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;}

/* Header - title*/
.title {
  text-align: center;
  background: url(https://rawgithub.com/DellGDC/sherpa/master/assets/img/gray_dark_title_line.png) repeat-x 50%;
  margin-bottom: 20px;
  display: block;
}

.title h1 {
  display: inline-block;
  background: #fff;
  padding: 0px 10px;
  max-width: 80%;
  /*display: block;*/
}

/*
================================================
Headers for mobile (Phone)
================================================
*/

@media only screen and (max-width:767px) {

  /* Edits made by:; AJ Lohman - just organized them a bit*/
  /* headers - All*/
  h1, h2 {
    font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  /* Edits made by AJ Lohman */
  h3, h4, h5 {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h1      {font-size: 24px;line-height: 26px;}
  h2      {font-size: 20px;line-height: 24px;}
  h3      {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
  h4      {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
  h5      {font-size: 14px;line-height: 20px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}

}

/*
================================================
Headers for tablet
================================================
*/

@media only screen and (min-width:768px) and (max-width:979px) {

  h1, h2 {
  font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

  /* Edits made by AJ Lohman */
  h3, h4, h5 {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h1      {font-size: 32px;line-height: 38px;}
  h2      {font-size: 26px;line-height: 30px;}
  h3      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
  h4      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
  h5      {font-size: 16px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}

}






.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

small {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}








/* FORMS
-------------------------------------------------- */
.form-radio,
.form-checkbox {
  margin-bottom:20px;
}

.form-radio p,
.form-checkbox p{
  margin-bottom:5px;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

form {
  margin: 0 0 0px;
}

form div {
  float:none;
}

fieldset {
  padding: 0;
  margin-bottom: 10px;
  border: 0;
}

/*legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}*/

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 34px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.input-prepend input[type="text"] {
  width: 96.5%;
}

input[type="search"] {
  width: 95.2%;
}

.form-inline select,
.form-inline textarea,
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="date"],
.form-inline input[type="month"],
.form-inline input[type="time"],
.form-inline input[type="week"],
.form-inline input[type="number"],
.form-inline input[type="email"],
.form-inline input[type="url"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="color"],
.form-inline .uneditable-input {
  margin-bottom: 10px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #0085C3;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(0,133,195,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(0,133,195,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(0,133,195,.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 34px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #ffffff;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border-color: #0085C3;
  outline: thin dotted #0085C3;
  outline: 0px auto #0085C3;
  outline-offset: 0px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}

/*.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}*/

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/*.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}*/

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 0px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.help-block,
.help-inline {
  color: #444444;
}

.help-block {
  display: block;
  margin-bottom: 10px;
  margin-top:-8px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
  padding-bottom: 10px;
}

input.input-mini {
  width: 60px;
}

input.input-small {
  width: 90px;
}

input.input-medium {
  width: 150px;
}

input.input-large {
  width: 210px;
}

input.input-xlarge {
  width: 270px;
}

input.input-xxlarge {
  width: 530px;
}

.input-prepend input.input-mini {
  width: 60px;
}
.input-prepend input.input-small {
  width: 90px;
}
.input-prepend input.input-medium {
  width: 150px;
}
.input-prepend input.input-large {
  width: 210px;
}
.input-prepend input.input-xlarge {
  width: 270px;
}
.input-prepend input.input-xxlarge {
  width: 530px;
}

/*
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 40px;
}*/
/*input.span12, textarea.span12, .uneditable-input.span12 {
  width: 1146px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 1046px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 946px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 846px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 746px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 646px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 546px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 446px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 346px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 246px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 146px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 46px;
}*/

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #DC5034;
  border-color: #DC5034;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #DC5034;
  -webkit-box-shadow: 0 0 0px #f8b9b7;
  -moz-box-shadow: 0 0 0px #f8b9b7;
  box-shadow: 0 0 0px #f8b9b7;
}

.input-append,
.input-prepend {
display: inline-block;
margin-bottom: 0px;
font-size: inherit;
white-space: nowrap;
vertical-align: middle;
width: inherit;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu {
  font-size: 14px;

}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 10px;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 34px;
  min-width: 16px;
  padding: 7px 11px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -5px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-append-icon input,
.input-append-icon select,
.input-append-icon .uneditable-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  display: block;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -5px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

/*input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;*/
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

/*  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}*/

/* Allow for input prepend/append in search forms */
/*.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}*/

/*.form-search .input-append .search-query {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.form-search .input-append .btn {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.form-search .input-prepend .btn {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
*/
/*.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;*/
  /* IE7 inline-block hack */

/*  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}*/

/*.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: baseline;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 10px;
}
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}
.form-horizontal .help-block {
  margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}
.form-horizontal .form-actions {
  padding-left: 180px;
}*/








/* TABLES
-------------------------------------------------- */
.table tbody tr.info td {
  background-color: #CCE7F3;
}








/* TEXT
-------------------------------------------------- */
.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}








/* BUTTONS
-------------------------------------------------- */
.btn {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: inline-block;
  *display: inline;
  padding: 7px 11px;
  margin-bottom: 0;
  *margin-left: .3em;
  line-height: 18px;
  *line-height: 18px;
  color: #444444;
  text-align: center;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #edf1f3;
  *background-color: #edf1f3;
  background-image: -moz-linear-gradient(top, #fefefe, #edf1f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#edf1f3));
  background-image: -webkit-linear-gradient(top, #fefefe, #edf1f3);
  background-image: -o-linear-gradient(top, #fefefe, #edf1f3);
  background-image: linear-gradient(to bottom, #fefefe, #edf1f3);
  background-repeat: repeat-x;
  border: 1px solid #DDD;
  *border: 0;
  border-color: none;
  border-bottom-color: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#edf1f3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}



.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #444444;
  background-color: #edf1f3;
  *background-color: #edf1f3;
}


.btn:active,
.btn.active {
  background-color: #edf1f3 \9;
}


.btn:hover {
  color: #444444;
  text-decoration: none;
  background-color: #edf1f3;
  *background-color: #edf1f3;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: none;
  outline: none;
  outline-offset: -2px;
}



.btn.active,
.btn:active {
  background-color: #edf1f3;
  background-color: #edf1f3 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0px 0px 0px rgba(0, 0, 0, .4);
     -moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0px 0px 0px rgba(0, 0, 0, .4);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0px 0px 0px rgba(0, 0, 0, .4);
}


.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #edf1f3;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}






.btn-primary {
  color: #ffffff;
  text-shadow: none;
  background-color: #499B1E;
  *background-color: #499B1E;
  background-image: -moz-linear-gradient(top, #75B734, #499B1E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75B734), to(#499B1E));
  background-image: -webkit-linear-gradient(top, #75B734, #499B1E);
  background-image: -o-linear-gradient(top, #75B734, #499B1E);
  background-image: linear-gradient(to bottom, #75B734, #499B1E);
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75B734', endColorstr='#499B1E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #499B1E;
  *background-color: #499B1E;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #499B1E \9;
}




.btn-secondary {
  color: #ffffff;
  text-shadow: none;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
  background-image: -moz-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#118FD6), to(#0F6ECA));
  background-image: -webkit-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -o-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: linear-gradient(to bottom, #118FD6, #0F6ECA);
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#118FD6', endColorstr='#0F6ECA', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  color: #ffffff;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
}

.btn-secondary:active,
.btn-secondary.active {
  background-color: #0F6ECA \9;
}



.btn-tertiary {
  color: #0085c3;
  text-shadow: none;
  background-color: #edf1f3;
  *background-color: #edf1f3;
  background-image: -moz-linear-gradient(top, #fefefe, #edf1f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#edf1f3));
  background-image: -webkit-linear-gradient(top, #fefefe, #edf1f3);
  background-image: -o-linear-gradient(top, #fefefe, #edf1f3);
  background-image: linear-gradient(to bottom, #fefefe, #edf1f3);
  border-color: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#edf1f3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary.active,
.btn-tertiary.disabled,
.btn-tertiary[disabled] {
  color: #0085c3;
  background-color: #edf1f3;
  *background-color: #edf1f3;
}

.btn-tertiary:active,
.btn-tertiary.active {
  background-color: #edf1f3 \9;
}

.btn-info {
  font-family: "museo_for_dell_700regular", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px 10px 4px 10px;
/*  line-height: 20px;
  *line-height: 20px;*/
  color: #ffffff;
  text-shadow: none;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
  background-image: -moz-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#118FD6), to(#0F6ECA));
  background-image: -webkit-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -o-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: linear-gradient(to bottom, #118FD6, #0F6ECA);
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#118FD6', endColorstr='#0F6ECA', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
}


.btn-info:active,
.btn-info.active {
  background-color: #0F6ECA \9;
}


.btn-hotspot {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 28px;
  padding: 3px 6px 7px 6px;
/*  line-height: 20px;
  *line-height: 20px;*/
  color: #ffffff;
  text-shadow: none;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
  background-image: -moz-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#118FD6), to(#0F6ECA));
  background-image: -webkit-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: -o-linear-gradient(top, #118FD6, #0F6ECA);
  background-image: linear-gradient(to bottom, #118FD6, #0F6ECA);
  border: none;
  -webkit-border-radius: 15px 15px 15px 0px;
     -moz-border-radius: 15px 15px 15px 0px;
          border-radius: 15px 15px 15px 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#118FD6', endColorstr='#0F6ECA', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-hotspot:hover,
.btn-hotspot:active,
.btn-hotspot.active,
.btn-hotspot.disabled,
.btn-hotspot[disabled] {
  color: #ffffff;
  background-color: #0F6ECA;
  *background-color: #0F6ECA;
}


.btn-hotspot:active,
.btn-hotspot.active {
  background-color: #0F6ECA \9;
}



.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  color: #0085c3;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-link:hover {
  color: #0085c3;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover {
  color: #333333;
  text-decoration: none;
}




.btn-large {
  padding: 12px 16px;
  font-size: 17.5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


.btn-small {
  padding: 4px 8px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


.btn-mini {
  padding: 1px 6px 0px 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


.btn-mini.btn-info {
  font-size: 15px;
/*  line-height: 24px;*/
}




.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
/* -webkit-box-shadow: inset 2px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0px 0 rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, .4);
     -moz-box-shadow: inset 2px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0px 0 rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, .4);
          box-shadow: inset 2px 0 0 rgba(255, 255, 255, 0.1), inset 1px 0px 0 rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, .4);*/
}


.btn-group.open .btn.dropdown-toggle {
  background-color: #cfd9de;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #53a726;
}

.btn-group.open .btn-secondary.dropdown-toggle {
  background-color: #0f6cc9;
}

.btn-group.open .btn-tertiary.dropdown-toggle {
  background-color: #cfd9de;
}



.btn-primary .caret,
.btn-secondary .caret{
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.btn-tertiary .caret{
	border-top-color: #0085c3;
	border-bottom-color: #0085c3;
}


.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #444444;
  white-space: nowrap;
}



.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0085c3;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;

}


/* IMAGES
-------------------------------------------------- */


.img-rounded {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/* Rounded corners
-------------------------------------------------- */

.rounded-big {
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px;
  padding:10px;
}

.rounded-small {
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px;
}



/* COLORS from sherpa_override.css
-------------------------------------------------- */

.color-block {
  padding:30px 0px;
  border: 1px solid #eeeeee;
}

.container-block {
  padding:100px 0px;
  /*border: 1px solid #eeeeee;*/
}


.white-text {
  color:#ffffff;
}

/* Gray */

.gray-dark {background-color: #444444;}
.gray-medium {background-color: #737373;}
.gray {background-color: #aaaaaa;}
.gray-light {background-color: #eeeeee;}
.gray-very-light {background-color: #f9f9f9;}
.gray-stroke {padding: 30px 0px;border: 2px solid #cccccc;}
.white {background-color: #ffffff;}

/* Blue */
.blue {background-color: #0085c3;}
.blue-stroke {padding: 30px 0px;border: 2px solid #0085c3;}

/* Green */
.green {background-color: #7ab800;}
.green-stroke { padding: 30px 0px;border: 2px solid #7ab800;}

/* Yellow */
.yellow {background-color: #F2AF00;}
.yellow-stroke {padding: 30px 0px;border: 2px solid #F2AF00;}

/* Orange */
.orange {background-color: #FF7700;}
.orange-stroke {padding: 30px 0px;border: 2px solid #FF7700;}

/* Red */
.red {background-color: #DC5034;}
.red-stroke {padding: 30px 0px;border: 2px solid #DC5034;}
.red-dark {background-color: #CE1126;}

/* Berry */
.berry {background-color: #B7295A;}
.berry-stroke {padding: 30px 0px;border: 2px solid #B7295A;}

/* Purple */
.purple {background-color: #6E2585;}
.purple-stroke {padding: 30px 0px;border: 2px solid #6E2585;}

/* Teal */
.teal {background-color: #71C6C1;}
.teal-stroke {padding: 30px 0px;border: 2px solid #71C6C1;}

/* Navy */
.navyblue {background-color: #003758;}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #939393;
  text-shadow: 0 0px 0 #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.close:hover {
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* TEXT COLORS
-------------------------------------------------- */

.white-text {color:#ffffff;}
.darkgray-text {color: #444444;}
.gray-text {color: #aaaaaa;}
.lightgray-text {color: #eeeeee;}
.blue-text {color: #0085c3;}
.green-text {color: #7ab800;}
.yellow-text {color: #F2AF00;}
.orange-text {color: #FF7700;}
.red-text {color: #DC5034;}
.darkred-text {color: #CE1126;}
.berry-text {color: #B7295A;}
.purple-text {color: #6E2585;}
.teal-text {color: #71C6C1;}
.navyblue-text {color: #003758;}
.lightblue-text {color: #CCE7F3;}
.orange-text {color: #fd5400;}
.gray-text {color: #737373;}



/* ICONS
-------------------------------------------------- */

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icon-dell-mini';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-profile:before, .icon-plus:before, .icon-menu-collapsed:before, .icon-expand:before, .icon-collapse:before, .icon-arrow-right:before, .icon-arrow-left:before, .icon-alert-notice:before, .icon-alert-info:before, .icon-alert-error:before, .icon-triangle-up:before, .icon-triangle-right:before, .icon-triangle-left:before, .icon-triangle-down:before, .icon-webcam-hd:before, .icon-webcam:before, .icon-warranty:before, .icon-video:before, .icon-trash:before, .icon-tower-generic:before, .icon-touchpad:before, .icon-touch:before, .icon-tablet:before, .icon-surge-protection:before, .icon-support:before, .icon-storage:before, .icon-speakers:before, .icon-software-secure:before, .icon-secure:before, .icon-search-right:before, .icon-search-left:before, .icon-screensize:before, .icon-protection:before, .icon-processor:before, .icon-printer:before, .icon-power:before, .icon-photos:before, .icon-optical-drive:before, .icon-operating-system:before, .icon-notebook:before, .icon-music:before, .icon-mouse:before, .icon-mail:before, .icon-keyboard:before, .icon-help:before, .icon-harddrive:before, .icon-graphics-card:before, .icon-giftcard:before, .icon-finance:before, .icon-energy-efficient:before, .icon-drivers:before, .icon-display-3d:before, .icon-display:before, .icon-dimensions-weight:before, .icon-dell:before, .icon-color:before, .icon-clock:before, .icon-chipset:before, .icon-checkmark:before, .icon-chat:before, .icon-cart:before, .icon-calendar:before, .icon-calculator:before, .icon-box-package:before, .icon-battery:before, .icon-audio-speaker:before, .icon-audio-card:before, .icon-alert-play:before, .icon-alert-error:before, .icon-alert-complete:before, .icon-wireless:before, .icon-windows:before, .icon-whitepaper:before, .icon-software:before, .icon-ships-fast:before, .icon-shipping:before, .icon-mobile:before, .icon-memory-card-reader:before, .icon-memory:before, .icon-cloud:before, .icon-close-circle:before, .icon-close:before {
  font-family: 'icon-dell-mini';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-profile:before {
  content: "\75";
}
.icon-plus:before {
  content: "\74";
}
.icon-menu-collapsed:before {
  content: "\73";
}
.icon-expand:before {
  content: "\72";
}
.icon-collapse:before {
  content: "\71";
}
.icon-arrow-right:before {
  content: "\70";
}
.icon-arrow-left:before {
  content: "\6f";
}
.icon-alert-notice:before {
  content: "\76";
}
.icon-alert-info:before {
  content: "\77";
}
.icon-alert-error:before {
  content: "\78";
}
.icon-triangle-up:before {
  content: "\6d";
}
.icon-triangle-right:before {
  content: "\6b";
}
.icon-triangle-left:before {
  content: "\6e";
}
.icon-triangle-down:before {
  content: "\6c";
}
.icon-webcam-hd:before {
  content: "\24";
}
.icon-webcam:before {
  content: "\25";
}
.icon-warranty:before {
  content: "\26";
}
.icon-video:before {
  content: "\27";
}
.icon-trash:before {
  content: "\28";
}
.icon-tower-generic:before {
  content: "\29";
}
.icon-touchpad:before {
  content: "\2a";
}
.icon-touch:before {
  content: "\2b";
}
.icon-tablet:before {
  content: "\2c";
}
.icon-surge-protection:before {
  content: "\2d";
}
.icon-support:before {
  content: "\2e";
}
.icon-storage:before {
  content: "\67";
}
.icon-speakers:before {
  content: "\2f";
}
.icon-software-secure:before {
  content: "\30";
}
.icon-secure:before {
  content: "\34";
}
.icon-search-right:before {
  content: "\35";
}
.icon-search-left:before {
  content: "\36";
}
.icon-screensize:before {
  content: "\37";
}
.icon-protection:before {
  content: "\38";
}
.icon-processor:before {
  content: "\39";
}
.icon-printer:before {
  content: "\3a";
}
.icon-power:before {
  content: "\3b";
}
.icon-photos:before {
  content: "\3c";
}
.icon-optical-drive:before {
  content: "\68";
}
.icon-operating-system:before {
  content: "\3d";
}
.icon-notebook:before {
  content: "\3e";
}
.icon-music:before {
  content: "\3f";
}
.icon-mouse:before {
  content: "\40";
}
.icon-mail:before {
  content: "\44";
}
.icon-keyboard:before {
  content: "\45";
}
.icon-help:before {
  content: "\46";
}
.icon-harddrive:before {
  content: "\47";
}
.icon-graphics-card:before {
  content: "\48";
}
.icon-giftcard:before {
  content: "\49";
}
.icon-finance:before {
  content: "\4a";
}
.icon-energy-efficient:before {
  content: "\4b";
}
.icon-drivers:before {
  content: "\4c";
}
.icon-display-3d:before {
  content: "\4d";
}
.icon-display:before {
  content: "\4e";
}
.icon-dimensions-weight:before {
  content: "\4f";
}
.icon-dell:before {
  content: "\50";
}
.icon-color:before {
  content: "\51";
}
.icon-clock:before {
  content: "\56";
}
.icon-chipset:before {
  content: "\57";
}
.icon-checkmark:before {
  content: "\58";
}
.icon-chat:before {
  content: "\6a";
}
.icon-cart:before {
  content: "\59";
}
.icon-calendar:before {
  content: "\5a";
}
.icon-calculator:before {
  content: "\5b";
}
.icon-box-package:before {
  content: "\5c";
}
.icon-battery:before {
  content: "\5d";
}
.icon-audio-speaker:before {
  content: "\5e";
}
.icon-audio-card:before {
  content: "\5f";
}
.icon-alert-play:before {
  content: "\62";
}
.icon-alert-error:before {
  content: "\65";
}
.icon-alert-complete:before {
  content: "\66";
}
.icon-wireless:before {
  content: "\21";
}
.icon-windows:before {
  content: "\22";
}
.icon-whitepaper:before {
  content: "\23";
}
.icon-software:before {
  content: "\31";
}
.icon-ships-fast:before {
  content: "\32";
}
.icon-shipping:before {
  content: "\33";
}
.icon-mobile:before {
  content: "\41";
}
.icon-memory-card-reader:before {
  content: "\42";
}
.icon-memory:before {
  content: "\43";
}
.icon-cloud:before {
  content: "\53";
}
.icon-close-circle:before {
  content: "\54";
}
.icon-close:before {
  content: "\55";
}





/*This is the small arrow below the nav pills, 308 style addition
-------------------------------------------------- */
.nav-pills > .active > a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #0085C3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/*-------------------------------------------------- */


/*Removes small arrow below the nav pills for stacked pills
-------------------------------------------------- */
.nav-pills.nav-stacked > .active > a:after {
  display:none;
}
/*-------------------------------------------------- */



.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0085c3;
  border-bottom-color: #0085c3;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #0085c3;
  border-bottom-color: #0085c3;
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #444444;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  position: relative;
}










/* BREADCRUMBS
-------------------------------------------------- */


.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: none;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}


/*
================================================
Breakpoints
================================================
*/

/* Mobile (Phone)*/
@media only screen and (max-width:767px) {

  /* Edits made by: AJ Lohman - removes the default 20px padding from Bootstrap.  */
  body {
    padding-right:0;
    padding-left:0;
  }


  /* START Sherpa forms*/
  input[type="search"] {
  width: 89%;
  }

  .input-prepend input[type="text"] {
    width: 92%;
  }
  /* END Sherpa forms*/

}

/* Tablet*/
@media only screen and (min-width:768px) and (max-width:979px) {

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px 20px;
  }

  /* START Sherpa forms*/
  input[type="search"] {
    width: 80.5%;
  }

  .input-prepend input[type="text"]{
    width: 95.7%;
  }
  /* END Sherpa forms*/

}




