<div class="da-all ta-all ma-all">
    <div class="wrapper">

        <div class="title">
            <h1 class="title" msg="title_page_routing">Page Routing Example</h1>
        </div>


        <section ng-controller="asideNavController">


            <div class="tabbable tabs-aside">
                <div class="da1-da4">

                    <ul class="nav nav-list nav-aside">
                        <li ng-repeat="tab in routes"
                            ng-class="{active: $state.includes('{{tab.id}}')}"
                            ng-click="selectItem(tab)" >
                            <a ng-href="#/page-1{{tab.url}}">
                                <h2>{{tab.label}}</h2>
                                <p ng-if="tab.description">{{tab.description}}</p>
                            </a>
                        </li>
                    </ul>
                    <div class="back-to-top scroll" rel="#top">
                        <i aria-hidden="true" class="icon-ui-collapse"></i> <span>Back to top</span>
                    </div>
                </div>
                <div class="da5-da12 tab-content">

                    <section ui-view="asideTabs"></section>

                </div>
            </div>

        </section>

    </div>
</div>