<section>
    <h3>Welcome to Home</h3>


    <div class="horiz-tabbable horiz-tabs" ng-controller="navTabController">

        <ul class="nav nav-tabs">
            <li ng-repeat="tab in routes"
                ng-class="{active: $state.includes('{{tab.id}}')}"
                ng-click="selectItem(tab)">
                <a>{{tab.label}}</a>
            </li>
        </ul>

        <div class="tab-content horiz-tab-content">

            <section class="navTabsWell" ui-view="navTabs"></section>

        </div>
    </div>
</section>