 


  <div class="wrapper">
    <!-- Logo -->
    <div class="da1-da4 ta1-ta3 ma-all">
      <h2><a href="#">Dell GDC Prototype</a></h2>
    </div>


    <div class="da9-da12 ta7-ta9 ma-all right-text">
      <a href="#project_info_modal"
        id="project_info" 
        class="btn btn-tertiary" 
        data-toggle="modal"
        >Project Information</a>
    </div>





    <div data-bind="component: {name:'uxmf', type:'project_info'}"></div>
  </div>

<script type="text/javascript">
  $('#project_info').popover();
</script>