/* Prototype CSS */

header .wrapper {
	overflow:visible;
}
.utility-nav {
	height:30px;
	padding-top:5px;
}
.main-nav {
	height:90px;
	padding-top:10px;
}
.icon-ui-dell.masthead {
	font-size:62px;
}
