<!DOCTYPE html>
<html>
<head>
    <title>$watch - Test 03</title>
    <script src="../lib/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="watchApp">
    <div ng-controller="watchCtrl">
        <p>Shared source is an array of objects.</p>
        <div ng-repeat="a in b">
            <input type="text" ng-model="a.value" />{{a.value}}
        </div>
        {{count}}-{{b}}<br />
        <input type="text" ng-model="objectValue.value" />{{objectValue.value}}
    </div><br/><br/>

    <div  ng-controller="watchCtrl2">
        <p>Shared soure is an object.</p>
        <div ng-repeat="a in b">
            <input type="text" ng-model="a.value" />{{a.value}}
        </div>
        {{count}}-{{b}}<br />
        <input type="text" ng-model="objectValue.value" />{{objectValue.value}}
    </div>

</div>
</body>
</html>