
<!-- Page level alert -->

<div class="wrapper">
  <div class="da-all ta-all mb-all">
    <div  id="page-level-alert" data-bind="component: { 
      name :'alerts', 
      options: {
            type: 'error',
            title: 'Error!',
            message: 'This is an error message.',
            dismiss:true
        }
      }">
    </div>
  </div>
</div>


<script type="text/javascript" id="alerts_page_level_js">

  Sherpa.componentJS.alerts_page_level_js = function(options){

    $('#page-level-alert').hide();
    //Sherpa scope allows a DOM related event function on something that does not exist yet
    Sherpa.scope('#page-level-alert', function(){
      this.listen('[data-dismiss="alert"]', 'click', function(event){
        event.preventDefault();
        event.stopPropagation();
        //overide bootstrap's dismiss action which destroys the element
        $('#page-level-alert').fadeOut();
      })
    });


    Sherpa.subscribe( "alert_message", function(options) {
      if(options === 'hide') {
        $('#page-level-alert').hide();
      } else {
        if (options.title) {
          $('#page-level-alert .alert-title').html(options.title);
        } else {
          $('#page-level-alert .alert-title').hide()
        }
        if (options.message) {
          $('#page-level-alert .alert-message').html(options.message);
        } else {
          $('#page-level-alert .alert-message').hide()
        }
        if (options.dismiss === false) {
          $('#page-level-alert .close').hide();
        } else {
          $('#page-level-alert .close').show()
        }
        if (options.type) {
          $('#page-level-alert alert').attr('class','alert '+options.type);
          //TODO need to move these values to config - duplicate in alert module
          switch(options.type) {
            case "success":
              options.icon = 'icon-small-checkmark';        
              break;
            case "information":
              options.icon = 'icon-small-alertinfo';        
              break;
            case "error":
              options.icon = 'icon-small-alerterror';        
              break;
            default:
              options.icon = 'icon-small-alertnotice';        
          }
          $('#page-level-alert [class^=icon]').attr('class',options.icon);

        }
        $('#page-level-alert').show();
        $.scrollTo('#page-level-alert',300, {offset:{top:-1000}});
      }
      
    });

    /* Sherpa.publish( "alert_message", {
        "type": "error",
        "title":"Sample Title",
        "message": "This is a sample message",
        "dismiss":true,
        "icon":"icon-alert-notice"
      });

      Sherpa.publish("alert_message",'hide') to remove alert on page.

      TODO the dismiss alert actually removes the element in the dom. So we will have to overide that function to just hide it.
    */
  }
  Sherpa.componentJS.alerts_page_level_js();
</script>
