

<script type="text/javascript" id="alerts_alerts_js">

  Sherpa.componentJS.alerts_alerts_js = function(options){
    //TODO put default options in config
    var default_options = _.clone(viewModel.core_config.default_alerts_data);
    if(!_.isEmpty(options)){
      if(!options.icon && options.type){
        //assigns icon based on type

        switch(options.type) {
          case "success":
            options.icon = viewModel.core_config.alert_icons.success;        
            break;
          case "information":
            options.icon = viewModel.core_config.alert_icons.information;  
            options.type = "info";      
            break;
          case "error":
            options.icon = viewModel.core_config.alert_icons.error;        
            break;
          default:
            options.icon = viewModel.core_config.alert_icons.default;        
        }
      } else if(!options.type) {
        Sherpa.QA.logEntry("You made reference to alert component and you provided options without a specific type. "+default_options.type+" was chosen by default","alerts, bad component reference")
      } else {
        Sherpa.QA.logEntry("Each alert type has a standard icon but you overwrote it. Please make sure this is an approved variant","Unapproved icon, alerts")
      }
      return _.extend(default_options, options);
    } else {
      Sherpa.QA.logEntry("Alert component rendered with default options. Please make sure to put real content in your alert.","content, alerts")
      return default_options;
    }
  };


</script>

<!-- ko with: Sherpa.componentJS.alerts_alerts_js(component_options) -->

<div data-bind="attr: { class: 'alert alert-'+type }">
  <!-- ko if: dismiss -->
  <button type="button" class="close" data-dismiss="alert"></button>
  <!-- /ko -->
  <p><strong data-bind="text: title" class="alert-title"></strong> <span data-bind="html: message" class="alert-message"></span></p>
</div>

<!-- /ko -->
