<script type="text/javascript">
    if(!viewModel.config.pagination){
        viewModel.config.pagination = {
            max_page_numbers : 10,
            left_glyph : "«",
            right_glyph : "»",
            connector_glyph : "...",
            default_component_class: "",
            sample_data : {
                current_page: 1,
                total_pages : 20,
                visible_pages : 5,
                items_per_page : 1
                items : [
                    {
                        item_num:1
                    },
                    {
                        item_num:2
                    },
                    {
                        item_num:3
                    },
                    {
                        item_num:4
                    },
                    {
                        item_num:5
                    },
                    {
                        item_num:6
                    },
                    {
                        item_num:7
                    },
                    {
                        item_num:8
                    },
                    {
                        item_num:9
                    },
                    {
                        item_num:10
                    },
                    {
                        item_num:11
                    },
                    {
                        item_num:12
                    },
                    {
                        item_num:13
                    },
                    {
                        item_num:14
                    },
                    {
                        item_num:15
                    },
                    {
                        item_num:16
                    },
                    {
                        item_num:17
                    },
                    {
                        item_num:18
                    },
                    {
                        item_num:19
                    },
                    {
                        item_num:20
                    }
                ]
            }
        }
    }
    viewModel.getPaginationClass = function(data) {
        if(_.isUndefined(data.options)){
            return viewModel.config.pagination.default_component_class;
        } else {
            var css_info = "";
            if (data.options.alignment) {
                css_info += "pagination-"+data.options.alignment;
            }
            if (data.options.size) {
                css_info += "pagination-"+data.options.size;
            }
            return css_info;
        }
    }
    viewModel.getPaginationData = function(data) {
       if(_.isUndefined(data.items)){ 
            return viewModel.config.pagination.sample_data;
       } else {
            var temp_obj = {}, pagination_obj = {};
            if(data.current_page){
                temp_obj.current_page = data.current_page
            } else {
                temp_obj.current_page = viewModel.config.pagination.sample_data.current_page;
            }
            if(data.items_per_page){
                temp_obj.items_per_page = data.items_per_page
            } else {
                temp_obj.items_per_page = viewModel.config.pagination.sample_data.items_per_page;
            }
            temp_obj.total_pages = Math.ceil(data.items.length/pagination_obj.items_per_page);

            if(temp_obj.current_page < 5 && temp_obj.total_pages >) {

            }

            return pagination_obj;
       }
    }
    


</script>




<div class="pagination" data-bind="attr: { class: getPaginationClass($data)}, with: getPaginationData($data)">
  <ul data-bind="foreach: items">
    <li data-bind="attr: { 'class':css_class }"><a href="#" data-bind="text: glyph"></a></li>
 </ul>
</div>