
  <script type="text/javascript">

    var sherpa_masthead_active = function(data){
        if(_.last(location.pathname.split("/"))== data.url){
          $('head title').html(data.browser_title);
          return 'active';
        } else {
          return "";
        }
    }


  </script>



  <div class="wrapper">
    <!-- Logo -->
    <div class="da1-da2 ta1-ta2 mb1">
      <div class="brand-sherpa">
        <a href="index.html">Sherpa</a>
      </div>
    </div>

    <!-- menu collapse (tablet and phone) -->
    <div class="da-hide ta3-ta9 mb2-mb4 right-text">
      <a href="#" id="menu-toggle" class="nav-sherpa-collapse"><span aria-hidden="true" class="icon-ui-menucollapsed"></span></a>
    </div>

    <!-- menu -->
    <div id="menu" class="da3-da12 ta-hide ma-hide">
    	<nav class="nav-sherpa">
        <ul data-bind="foreach: $data">
          <li data-bind="attr: {'class' : sherpa_masthead_active($data) }"><a href="" data-bind="text: label, attr: { 'href' : url }">Get started</a></li>
        </ul>
      </nav>
    </div>
  </div>