

  .sherpaReady body {opacity: 1;}

/* The main wrapper - don't touch */
    .wrapper {margin: 0 auto;width: 90%;max-width:1140px;float: none; overflow:hidden;}
    div {
      float: left;
      width: 100%;
      margin-bottom: 0px;
      display: block;
/*      position: relative;*/
      *zoom: 1;
    }
    input, textarea, .uneditable-input {width: 75%;}

/* Put your styles here */

  header {
    padding-top:0px;
    padding-bottom:0px;
    overflow: hidden;
  }

  section, article {
    overflow:hidden;
  }

  .main-content {
    padding: 20px 0px 0px 0px;
    overflow: hidden;
  }

  footer {
    padding-top:20px;
    overflow: hidden;
  }
  
  .box {
    margin-bottom: 20px;
    padding: 10px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sherpa-gray-stroke {
    border: 1px solid #e1e1e8;
  }

  



/* Links */

a {
  color: #F0592C;
  text-decoration: none;
}

a:hover {
  color: #F0592C;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}

.example a {
  color: #0085c3;
  text-decoration: none;
}

.example a:hover {
  color: #0085c3;
  text-decoration: underline;
}

.example a:hover, a:active {
  outline: 0;
}

.example .nav > li > a:hover {
  text-decoration: none;
  background-color: blue;
}

.example .nav-tabs > li > a:hover {
  background:#fff;
  /*border-color: #f9f9f9 #f9f9f9 #fff #f9f9f9;*/
}

/* We already had a .sherpa-docs-example used in pages so it works nicely */
.sherpa-docs-example a, .sherpa-docs-example a:hover {
  color:#0085c3;
}
.sherpa-docs-example a:hover, a:active {
  outline: 0;
}


/* Sherpa headings*/
h1.sherpa,h2.sherpa,h3.sherpa,h4.sherpa,h5.sherpa,h6.sherpa {
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #12120F;
  text-rendering: optimizelegibility;
}

h1.sherpa {font-size: 60px;line-height: 70px;}
h1.featured {font-size: 120px; line-height: 130px;}
h1.featured-white {color:#fff;}
h2.sherpa {font-size: 40px;line-height: 50px;}
h2.featured {color:#999;}
h3.sherpa {font-size: 24px;line-height: 34px;}
h3.featured-white {color:#fff;}
h4.sherpa {font-size: 17px;line-height: 17px;}
h5.sherpa {font-size: 14px;line-height: 14px;}
h6.sherpa {font-size: 11px;line-height: 11px;}

.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  color:#999;
}



/* headings for Dell*/

/* Edits made by:; AJ Lohman - just organized them a bit*/
/* headers - All*/
h1.tablet, h2.tablet {
  font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* Edits made by AJ Lohman */
h3.tablet, h4.tablet, h5.tablet {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1.tablet      {font-size: 32px;line-height: 38px;}
h2.tablet      {font-size: 26px;line-height: 30px;}
h3.tablet      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
h4.tablet      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h5.tablet      {font-size: 16px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}


/* Edits made by:; AJ Lohman - just organized them a bit*/
/* headers - All*/
h1.mobile, h2.mobile {
  font-family: 'museo-for-dell-300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* Edits made by AJ Lohman */
h3.mobile, h4.mobileh, h5.mobile {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/*h1.mobile      {font-size: 22px;line-height: 26px;}
h2.mobile      {font-size: 20px;line-height: 24px;}
h3.mobile      {font-size: 18px;line-height: 22px; font-family: 'museo_for_dell_700regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h4.mobile      {font-size: 18px;line-height: 22px;}
h5.mobile      {font-size: 14px;line-height: 20px;}
h6.mobile      {font-size: 14px;line-height: 20px;}*/

h1.mobile       {font-size: 22px;line-height: 26px;}
h2.mobile       {font-size: 20px;line-height: 24px;}
h3.mobile       {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
h4.mobile       {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h5.mobile       {font-size: 14px;line-height: 20px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}

 .white-text {
  color:#fff;
 }


/* Unorderd Lists */
ul.unstyled.icons li {
  margin-bottom:10px;
}



/* masthead */
  .masthead-sherpa {
    background: #12120F;
    /*background: #1F1F1C url(../img/topo-pattern-nav.jpg);*/
    background-position: center 0;
    width: 100%;
    z-index:9999;
    position: fixed;
  }

/* Brand */

  .brand-sherpa {
    font-size: 20px;
    line-height: 40px;
  }

  .brand-sherpa a {
    color:#D4CA9B;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in; 
  }

  .brand-sherpa a:hover {
    color:#F0592C;
    text-decoration: none;
  }

/* Nav */

  a.nav-sherpa-collapse {
    color: #fff;
    padding:10px 0 10px 10px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
  }

  a:hover.nav-sherpa-collapse {
    color: #ccc;
  }

  .nav-sherpa ul {
    margin:0;
    padding:10px 0 0 0;
    text-align: right;
  }

  .nav-sherpa ul li {
    display: inline;
    list-style: none;
  }

  .nav-sherpa ul li a {
    color:#D4CA9B;
    text-decoration: none;
    margin:0;
    padding:20px;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in; 
  }

  .nav-sherpa ul li a:hover {
    color:#F0592C;
    text-decoration: none;
  }

  .nav-sherpa ul li.active a {
    color:#ffffff;
    text-decoration: none;
  }

/* intro */

  .intro {
    background: #fff;
    text-align: center;
    padding:40px 0;
  }

  .intro img {
    border-bottom:2px dashed #eee;
  }

  .intro-banner {
    /*background: #3C7462;*/
    padding:20px 5%;
  }

/* overview */

  .overview {
    /*background: #1F1F1C;*/
    background: #1F1F1C url(../img/topo-pattern-nav.jpg);
    background-position: center 0;
    color:#444;
    /*text-align: center;*/
    padding:80px 0;
  }

/* get started*/

  .get-started {
    text-align: center;
    padding:40px 0;
  }



/* Title content */

  .title-content {
    /*background: #1F1F1C;*/
    background: #1F1F1C url(../img/topo-pattern-nav.jpg);
    background-position: center 0;
    padding:80px 0;
  }


/* Sidenav for Docs
-------------------------------------------------- */

  .nav-list > .active > a, .nav-list > .active > a:hover {
    /*color: #D4CA9B;
    background-color: #12120F;*/
    color: #12120F;
    background-color: #D4CA9B;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
   /*background: pink;*/
   /*width:100%;*/
   /*display: block;
   margin:0 auto;*/
  }

  .nav > li > a:hover {
    text-decoration: none;
    background-color: #f7f6ed;
  }

  .sherpa-docs-sidenav {
    /* width: 100%; messes up with affix */
    margin: 20px 0 40px 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  .sherpa-docs-sidenav.affix {
    top:45px;
  }
  .tablet .sherpa-docs-sidenav.affix li a, .mobile .sherpa-docs-sidenav.affix li a{
    display:none;
  }
  .tablet .sherpa-docs-sidenav.affix, .mobile .sherpa-docs-sidenav.affix {
    width:100%;
    top: 20px;
    left: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index:9998;
  }
  .tablet .sherpa-docs-sidenav.affix li.active a, .mobile .sherpa-docs-sidenav.affix li.active a, .tablet .sherpa-docs-sidenav.affix.open li a, .mobile .sherpa-docs-sidenav.affix.open li a {
    display:block;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
  .tablet .sherpa-docs-sidenav.affix li.active a:after, .mobile .sherpa-docs-sidenav.affix li.active a:after {
    font-family: 'icon-dell-mini';
    content:"s";
    color:#fff;
    float:right;
  }


  .sherpa-docs-sidenav > li > a {
    display: block;
    /*width: 190px \9;*/
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
  }

  .sherpa-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
  }

  .sherpa-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
  }

  .sherpa-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
  }


/* Sherpa button */


  .sherpa-btn:hover, .sherpa-btn:active, .sherpa-btn.active, .sherpa-btn.disabled, .sherpa-btn[disabled] {
    color: #fff;
    background-color: #EF3B26;
    text-decoration: none;

    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in; 
  }

  .sherpa-btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  }

  .sherpa-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #F0592C;
    border: 0px solid #bbbbbb;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in; 
    
  }



/* Tooltips*/


/* tooltips */
.sherpa-docs-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}

.sherpa-docs-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}


/* Popovers */
  .sherpa-docs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 250px;
    margin: 20px 20px 20px 20px;
  }

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover .arrow {
  border-width: 11px;
}
.popover .arrow, .popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}


/*
================================================
Breakpoints
================================================
*/


/* Tablet*/
@media only screen and (min-width:768px) and (max-width:979px) {

  /* Add your CSS here */

  /* masthead */
  /*.masthead-sherpa {
    position: relative;
  }*/

  .title-content {
    padding:40px 0;
  }

  /* Sherpa headings*/
  h1.sherpa {font-size: 50px;line-height: 60px;}
  h2.sherpa {font-size: 34px;line-height: 44px;}

  h3.sherpa {font-size: 20px;line-height: 30px;}
  h4.sherpa {font-size: 17px;line-height: 17px;}
  h5.sherpa {font-size: 14px;line-height: 14px;}
  h6.sherpa {font-size: 11px;line-height: 11px;}





  /* Nav */
  .nav-sherpa ul {
    text-align: left;
    margin:0 0 20px 0;
  }

  .nav-sherpa ul li {
    display: block;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:10px 20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:10px 20px;
  }
    
}

/* Mobile (Phone)*/
@media only screen and (max-width:767px) {

  /* Add your CSS here */

  /* masthead */
  /*.masthead-sherpa {
    position: relative;
  }*/

  .title-content {
    padding:40px 0;
  }

  /* Sherpa headings*/
  h1.sherpa {font-size: 40px;line-height: 50px;}
  h2.sherpa {font-size: 34px;line-height: 44px;}
  h2.featured {font-size: 24px;line-height: 34px;}
  h3.sherpa {font-size: 18px;line-height: 26px;}
  h4.sherpa {font-size: 17px;line-height: 17px;}
  h5.sherpa {font-size: 14px;line-height: 14px;}
  h6.sherpa {font-size: 11px;line-height: 11px;}
  



  /* Nav */
  .nav-sherpa ul {
    text-align: left;
    margin:0 0 20px 0;
  }

  .nav-sherpa ul li {
    display: block;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:10px 20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:10px 20px;
  }

}


/* these may eventually have to be added to the core */

[class*=-toggle]:hover {
  text-decoration:none
}

[class*=-toggle].open .hide {
  display:inline-block;
}

[class*=-toggle].open .view {
  display:none;
}
