
/* The main wrapper - don't touch */
    .wrapper {margin: 0 auto;width: 90%;max-width:1140px;float: none; overflow:hidden;}
    div {float: left;width: 100%;margin-bottom: 0px;display: block;position: relative;*zoom: 1;}
    input, textarea, .uneditable-input {width: 75%;}

/* Put your styles here */

  header {
    padding-top:0px;
    padding-bottom:0px;
    overflow: hidden;
  }

  section {
    overflow:hidden;
  }

  .main-content {
    padding-top:20px;
    overflow: hidden;
  }

  footer {
    padding-top:20px;
    overflow: hidden;
  }
  
  .box {
    margin-bottom: 20px;
    padding: 10px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

/* masthead */

  .masthead-sherpa {
    background: #000;
  }

/* Brand */

  .brand-sherpa {
    font-size: 20px;
    line-height: 40px;
  }

  .brand-sherpa a {
    color:#fff;
  }

  .brand-sherpa a:hover {
    color:#ccc;
    text-decoration: none;
  }

/* Nav */

  a.nav-sherpa-collapse {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
  }

  a:hover.nav-sherpa-collapse {
    color: #ccc;
  }

  .nav-sherpa ul {
    margin:0;
    padding:10px 0 0 0;
    text-align: right;
  }

  .nav-sherpa ul li {
    display: inline;
    list-style: none;
  }

  .nav-sherpa a {
    color:#666;
    text-decoration: none;
    background: #000;
    margin:0;
    padding:20px;
  }

  .nav-sherpa a:hover {
    color:#fff;
    text-decoration: none;
    background: #222;
    margin:0;
    padding:20px;
  }



/*
================================================
Breakpoints
================================================
*/


/* Tablet*/
@media only screen and (min-width:768px) and (max-width:979px) {

  /* Add your CSS here */

  /* Nav */
  .nav-sherpa ul {
    margin:0;
    padding:10px 0 0 0;
    text-align: left;
  }

  .nav-sherpa ul li {
    display: block;
    list-style: none;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:20px;
  }
    
}

/* Mobile (Phone)*/
@media only screen and (max-width:767px) {

  /* Add your CSS here */
  
  /* Nav */
  .nav-sherpa ul {
    margin:0;
    padding:10px 0 0 0;
    text-align: left;
  }

  .nav-sherpa ul li {
    display: block;
    list-style: none;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:20px;
  }

}
