
/* The main wrapper - don't touch */
    .wrapper {margin: 0 auto;width: 90%;max-width:1140px;float: none; overflow:hidden;}
    div {float: left;width: 100%;margin-bottom: 0px;display: block;position: relative;*zoom: 1;}
    input, textarea, .uneditable-input {width: 75%;}

/* Put your styles here */

  header {
    padding-top:0px;
    padding-bottom:0px;
    overflow: hidden;
  }

  section {
    overflow:hidden;
  }

  .main-content {
    padding-top:20px;
    overflow: hidden;
  }

  footer {
    padding-top:20px;
    overflow: hidden;
  }
  
  .box {
    margin-bottom: 20px;
    padding: 10px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/* Sherpa headings*/

h1.sherpa,
h2.sherpa,
h3.sherpa,
h4.sherpa,
h5.sherpa,
h6.sherpa {
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:blue;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1.sherpa,
h2.sherpa,
h3.sherpa {
  line-height: 40px;
}

h1.sherpa {
  font-size: 38px;
}

h2.sherpa {
  font-size: 31px;
}

h3.sherpa {
  font-size: 24px;
}

h4.sherpa {
  font-size: 17px;
}

h5.sherpa {
  font-size: 14px;
}

h6.sherpa {
  font-size: 11px;
}

/* headings for Dell*/

/* Edits made by:; AJ Lohman - just organized them a bit*/
/* headers - All*/
h1.tablet, h2.tablet {
  font-family: 'museo_for_dell_300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* Edits made by AJ Lohman */
h3.tablet, h4.tablet, h5.tablet {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1.tablet      {font-size: 32px;line-height: 38px;}
h2.tablet      {font-size: 26px;line-height: 30px;}
h3.tablet      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
h4.tablet      {font-size: 20px;line-height: 24px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h5.tablet      {font-size: 16px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}


/* Edits made by:; AJ Lohman - just organized them a bit*/
/* headers - All*/
h1.mobile, h2.mobile {
  font-family: 'museo_for_dell_300regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* Edits made by AJ Lohman */
h3.mobile, h4.mobileh, h5.mobile {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}

/*h1.mobile      {font-size: 22px;line-height: 26px;}
h2.mobile      {font-size: 20px;line-height: 24px;}
h3.mobile      {font-size: 18px;line-height: 22px; font-family: 'museo_for_dell_700regular', 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h4.mobile      {font-size: 18px;line-height: 22px;}
h5.mobile      {font-size: 14px;line-height: 20px;}
h6.mobile      {font-size: 14px;line-height: 20px;}*/

h1.mobile       {font-size: 22px;line-height: 26px;}
h2.mobile       {font-size: 20px;line-height: 24px;}
h3.mobile       {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}
h4.mobile       {font-size: 18px;line-height: 22px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;}
h5.mobile       {font-size: 14px;line-height: 20px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: bold;}



/* masthead */

  .masthead-sherpa {
    background: #444;
  }

/* Brand */

  .brand-sherpa {
    font-size: 20px;
    line-height: 40px;
  }

  .brand-sherpa a {
    color:#fff;
  }

  .brand-sherpa a:hover {
    color:#ccc;
    text-decoration: none;
  }

/* Nav */

  a.nav-sherpa-collapse {
    color: #fff;
    padding:10px 0 10px 10px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
  }

  a:hover.nav-sherpa-collapse {
    color: #ccc;
  }

  .nav-sherpa ul {
    margin:0;
    padding:10px 0 0 0;
    text-align: right;
  }

  .nav-sherpa ul li {
    display: inline;
    list-style: none;
  }

  .nav-sherpa a {
    color:#fff;
    text-decoration: none;
    background: #444;
    margin:0;
    padding:20px;
  }

  .nav-sherpa a:hover {
    color:#fff;
    text-decoration: none;
    background: #333;
    margin:0;
    padding:20px;
  }


/* intro */

  .intro {
    background: #fff;
    text-align: center;
    padding:40px 0;
  }

  .intro img {
    border-bottom:2px dashed #eee;
  }

/* overview */

  .overview {
    background: #ccc url(../img/topo-pattern.jpg) center;
    color:#444;
    text-align: center;
    padding:40px 0;
  }

/* get started*/

  .get-started {
    text-align: center;
    padding:40px 0;
  }



/*
================================================
Breakpoints
================================================
*/


/* Tablet*/
@media only screen and (min-width:768px) and (max-width:979px) {

  /* Add your CSS here */

  /* Nav */
  .nav-sherpa ul {
    text-align: left;
    margin:0 0 20px 0;
  }

  .nav-sherpa ul li {
    display: block;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:10px 20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:10px 20px;
  }
    
}

/* Mobile (Phone)*/
@media only screen and (max-width:767px) {

  /* Add your CSS here */
  
  /* Nav */
  .nav-sherpa ul {
    text-align: left;
    margin:0 0 20px 0;
  }

  .nav-sherpa ul li {
    display: block;
  }

  .nav-sherpa a {
    width: 100%;
    display: block;
    margin:0;
    padding:10px 20px;
  }

  .nav-sherpa a:hover {
    margin:0;
    padding:10px 20px;
  }

}
