
/* FONTS
-------------------------------------------------- */


@font-face {
    font-family: 'museo-sans-for-dell-100Rg';
    src: url('../fonts/museosansfordell-100-webfont.eot');
    src: url('../fonts/museosansfordell-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-100-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-100-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-100-webfont.svg#museo_sans_for_dell_100Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans-for-dell-300Rg';
    src: url('../fonts/museosansfordell-300-webfont.eot');
    src: url('../fonts/museosansfordell-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-300-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-300-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-300-webfont.svg#museo_sans_for_dell_300Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans-for-dell-700Rg';
    src: url('../fonts/museosansfordell-700-webfont.eot');
    src: url('../fonts/museosansfordell-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansfordell-700-webfont.woff') format('woff'),
         url('../fonts/museosansfordell-700-webfont.ttf') format('truetype'),
         url('../fonts/museosansfordell-700-webfont.svg#museo_sans_for_dell_700Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-for-dell-100regular';
    src: url('../fonts/museofordell-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-100-webfont.woff') format('woff'),
         url('../fonts/museofordell-100-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-100-webfont.svg#museo_for_dell_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'museo-for-dell-300regular';
    src: url('../fonts/museofordell-300-webfont.eot');
    src: url('../fonts/museofordell-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-300-webfont.woff') format('woff'),
         url('../fonts/museofordell-300-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-300-webfont.svg#museo_for_dell_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'museo-for-dell-700regular';
    src: url('../fonts/museofordell-700-webfont.eot');
    src: url('../fonts/museofordell-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museofordell-700-webfont.woff') format('woff'),
         url('../fonts/museofordell-700-webfont.ttf') format('truetype'),
         url('../fonts/museofordell-700-webfont.svg#museo_for_dell_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
  font-family: 'icon-ui';
  src:url('../fonts/icon-ui.eot');
  src:url('../fonts/icon-ui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-ui.woff') format('woff'),
    url('../fonts/icon-ui.ttf') format('truetype'),
    url('../fonts/icon-ui.svg#icon-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-small';
  src:url('../fonts/icon-small.eot');
  src:url('../fonts/icon-small.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-small.woff') format('woff'),
    url('../fonts/icon-small.ttf') format('truetype'),
    url('../fonts/icon-small.svg#icon-small') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-large';
  src:url('../fonts/icon-large.eot');
  src:url('../fonts/icon-large.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon-large.woff') format('woff'),
    url('../fonts/icon-large.ttf') format('truetype'),
    url('../fonts/icon-large.svg#icon-large') format('svg');
  font-weight: normal;
  font-style: normal;
}
