<section class="da-all ta-all ma-all sherpa-admin" ng-controller="sherpaAdmin">
	<div class="wrapper tabbable">       
		<aside class="da1-da3 tb1-tb2 mb1-mb2">
			<ul class="nav nav-list" id="admin-menu">
				<li class="nav-header">Project</li>
				<li class="active"><a href="#info" data-toggle="tab">Project Information</a></li>
				<li><a href="#prototypes" data-toggle="tab">Prototype Pages</a></li>
				<li><a href="#data" data-toggle="tab">Prototype Content</a></li>
				<li class="nav-header">Sherpa Related</li>
				<li><a href="http://open.gsdprototypes.com/sherpa" target="_blank">Sherpa Site</a></li>
				<li><a href="../config/core_config.json" target="_blank">Core Settings</a></li>
				<li><a href="#js-libraries" data-toggle="tab">JavaScript Libraries</a></li>
				<li class="divider"></li>
				<li><a href="#" ng-click="showHelp($event)">Help</a></li>
			</ul>
		</aside>
		<section class="da4-da12 tb3-tb8 mb3-mb4">
			<div class="well tab-content" id="admin-content">
				<div class="tab-pane fade active in" id="info">
			      <h2>Project Info - {{project_info.title}}</h2>

				  <table class="table table-striped">
					  <tbody>
					    <tr ng-repeat="item in project_info.data">
					      <th class="span3">{{item.label}}</th>
					      <td ng-bind-html="item.description"></td>
					    </tr>
					  </tbody>
					</table>
			    </div>
			    <div class="tab-pane fade" id="prototypes">
			      <h2>Prototypes</h2>
				  <div ng-bind-html-unsafe="list_prototypes"></div>
			    </div>
			    <div class="tab-pane fade" id="data" ng-include="editorUrl">
			    </div>
			    <div class="tab-pane fade" id="js-libraries">
			      <h2>JavaScript Libraries</h2>
			      <h4>Installed Libraries</h4>

					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>Library</th>
					      <th>Url</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="lib in js_libraries.installed">
					      <td>{{lib.label}}</td>
					      <td><a href="{{url}}" target="_blank">{{lib.url}}</a></td>
					    </tr>
					  </tbody>
					</table>

			      <h4>Available Libraries</h4>
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>Library</th>
					      <th>Url</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="lib in js_libraries.available">
					      <td>{{lib.label}}</td>
					      <td><a href="{{url}}" target="_blank">{{lib.url}}</a></td>
					    </tr>
					  </tbody>
					</table>
			    </div>
			</div>
		</section>
	</div>
</section>
