
.do-not-use:after {
	content:"NOT USED IN DELL 308";
	font-size:14px;
	font-family:"Trebuchet MS";
	color:white;
	background:red;
	height:20px;
	padding:10px;
	text-align:center;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
td.do-not-use:after {
	content:none;
}
td.do-not-use {
	content:none;
	opacity:.2;
}
th.do-not-use {
	position:relative;
}
th.do-not-use:after{
	position:absolute;
	left:0%;
	top:30px;
	font-size:10px;
	height:inherit;
	padding:2px;
	text-align:center;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
div.do-not-use {
	opacity:.2;
}
div.do-not-use:after {
display:none;
}

h1.do-not-use:after {
	position:relative;
	margin-left:10px;
	position:relative;
	top:-5px;
}
tr.do-not-use {
	position:relative;
}
tr.do-not-use td {
		opacity:.2;
}
tr.do-not-use:after {
	opacity:1;
	position:absolute;
	left:0;
	margin-top:10px;
}


.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}


.hide-expanded, .collapsed .show-collapsed {
	display:block;
}
.collapsed .hide-expanded, .show-collapsed {
	display:none;
}

.large-icons li {
	height:50px;
}
.large-icons [class^=icon-large] {
	font-size:36px;
}

.the-icons li {
	width:24%;
	display:inline-block;
}

.tablet .the-icons li {
	width:32%;
}
.mobile .the-icons li {
	width:49%;
}

#icons [data-toggle="popover"] {
	cursor:help;
}

#icons li {
	margin-bottom:10px;
}
[class*=change-container] > li > a {
	color:#fff;
}
[class*=change-container] > li > a.white,
[class*=change-container] > li > a.gray-light,
[class*=change-container] > li > a.gray-very-light
 {
	color:#444;
}
[class*=change-container] {
	left: -43px;
	position: absolute;
	top: -6px;
}
.wrapper
 {
	overflow:visible;
}
header {
	position:fixed;
	z-index:1030;
	height:70px;
}
header .navbar {
    position:relative;
    padding-left:70px;
}
header .icon-ui-dell {
    font-size:50px;
    position:absolute;
    left:0;
/*     background:#007db8; */
    padding:10px;
    margin-top:-11px;
/*     -webkit-border-radius: 0px 0px 10px 10px;
        border-radius: 0px 0px 10px 10px; */
}
header .navbar-search {
    position:relative;
}
header .navbar-search .icon-ui-closecircle {
    display:none;
}
header .navbar-search.active .icon-ui-closecircle {
	display:block;
    position:absolute;
    right:5px;
    top:7px;
    font-size:20px;
    background:#fff;
    cursor:pointer;
    color:#ccc;
}
section#typography {
	margin-top:60px;
};
section {
	position:relative;
	z-index:0;
}

/*  ================ Clint's Code ===============  */

#header-308-site .nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

#header-308-site .nav > li > a {
  display: block;
}
#header-308-site .nav > li > a:hover,
#header-308-site .nav > li > a:focus {
  text-decoration: none;
  background-color: #f9f9f9;
}
#header-308-site .nav > li > a > img {
  max-width: none;
}
#header-308-site .nav > .pull-right {
  float: right;
}
#header-308-site .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #eeeeee;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#header-308-site .nav li + .nav-header {
  margin-top: 9px;
}
#header-308-site .nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
#header-308-site .nav-list > li > a,
#header-308-site .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#header-308-site .nav-list > li > a {
  padding: 3px 15px;
}
#header-308-site .nav-list > .active > a,
#header-308-site .nav-list > .active > a:hover,
#header-308-site .nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #007db8;

}

#header-308-site .nav-list [class^="icon-"],
#header-308-site .nav-list [class*=" icon-"] {
  margin-right: 2px;
}
#header-308-site .nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
#header-308-site .nav-tabs,
#header-308-site .nav-pills {
  *zoom: 1;
}
#header-308-site .nav-tabs:before,
#header-308-site .nav-pills:before,
#header-308-site .nav-tabs:after,
#header-308-site .nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
#header-308-site .nav-tabs:after,
#header-308-site .nav-pills:after {
  clear: both;
}
#header-308-site .nav-tabs > li,
#header-308-site .nav-pills > li {
  float: left;
}
#header-308-site .nav-tabs > li > a,
#header-308-site .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
#header-308-site .nav-tabs {
  border-bottom: 1px solid #ddd;
}
#header-308-site nav-tabs > li {
  margin-bottom: -1px;
}
#header-308-site .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#header-308-site .nav-tabs > li > a:hover,
#header-308-site .nav-tabs > li > a:focus {
  border-color: #f9f9f9 #f9f9f9 #dddddd;
}
#header-308-site .nav-tabs > .active > a,
#header-308-site .nav-tabs > .active > a:hover,
#header-308-site .nav-tabs > .active > a:focus {
  color: #aaaaaa;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
#header-308-site .nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header-308-site .nav-pills > .active > a,
#header-308-site .nav-pills > .active > a:hover,
#header-308-site .nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #007db8;
}
#header-308-site .nav-stacked > li {
  float: none;
}
#header-308-site .nav-stacked > li > a {
  margin-right: 0;
}
#header-308-site .nav-tabs.nav-stacked {
  border-bottom: 0;
}
#header-308-site .nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#header-308-site .nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
#header-308-site .nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
#header-308-site .nav-tabs.nav-stacked > li > a:hover,
#header-308-site .nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}
#header-308-site .nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
#header-308-site .nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
#header-308-site .nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
#header-308-site .nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#header-308-site .nav .dropdown-toggle .caret {
  border-top-color: #007db8;
  border-bottom-color: #007db8;
  margin-top: 6px;
}
#header-308-site .nav .dropdown-toggle:hover .caret,
#header-308-site .nav .dropdown-toggle:focus .caret {
  border-top-color: #007db8;
  border-bottom-color: #007db8;
}
/* move down carets for tabs */
#header-308-site .nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}
#header-308-site .nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
#header-308-site .nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #aaaaaa;
  border-bottom-color: #aaaaaa;
}
#header-308-site .nav > .dropdown.active > a:hover,
#header-308-site .nav > .dropdown.active > a:focus {
  cursor: pointer;
}
#header-308-site .nav-tabs .open .dropdown-toggle,
#header-308-site .nav-pills .open .dropdown-toggle,
#header-308-site .nav > li.dropdown.open.active > a:hover,
#header-308-site .nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #eeeeee;
  border-color: #eeeeee;
}
#header-308-site .nav li.dropdown.open .caret,
#header-308-site .nav li.dropdown.open.active .caret,
#header-308-site .nav li.dropdown.open a:hover .caret,
#header-308-site .nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat:none;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}

#header-308-site .navbar .container {
  width: auto;
  margin-top: 15px;
}

#header-308-site .icon-ui-dell {
    font-size:50px;
    position:absolute;
    left:0;
    background:none; 
    padding:0px;
    margin-top:-15px;
    -webkit-border-radius: none;
    border-radius: none; 
}

#header-308-site .navbar .brand {
  float: left;
  display: block;
  padding: 10px 10px 10px 5px;
  margin-left: -20px;
  font-size: 25px;
  font-weight: none;
  font-family: 'museo-for-dell-300';
  color: #ffffff;
  text-shadow: none;
}
#header-308-site .dropdown-toggle:after {
  position: relative;
  font-family:none;
  content:none;
  top: 1px;
  float: right;
}
#header-308-site .open > .dropdown-toggle:after {
  content: none;
}
#header-308-site .navbar .nav > .active > a,
#header-308-site .navbar .nav > .active > a:hover,
#header-308-site .navbar .nav > .active > a:focus {
  color: #007db8;
  text-decoration: none;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none);
  box-shadow: none);
}
#header-308-site .navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}
#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
   border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}
#header-308-site .navbar-inverse .navbar-inner {
  background: none;
  border-color: none;
}
#header-308-site .navbar-inverse .brand,
#header-308-site .navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header-308-site .navbar-inverse .brand:hover,
#header-308-site .navbar-inverse .nav > li > a:hover,
#header-308-site .navbar-inverse .brand:focus,
#header-308-site .navbar-inverse .nav > li > a:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .brand {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-text {
  color: #ffffff;
}
#header-308-site .navbar-inverse .nav > li > a:focus,
#header-308-site .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #cce7f3;
}
#header-308-site .navbar-inverse .nav .active > a,
#header-308-site .navbar-inverse .nav .active > a:hover,
#header-308-site .navbar-inverse .nav .active > a:focus {
  color: #cce7f3;
  background-color: #007db8;
}
#header-308-site .navbar-inverse .navbar-link {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-link:hover,
#header-308-site .navbar-inverse .navbar-link:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .divider-vertical {
  border-left-color: #007db8;
  border-right-color: #007db8;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #007db8;
  color: #cce7f3;
}
#header-308-site .navbar-inverse .nav li.dropdown > a:hover .caret,
#header-308-site .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #007db8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:focus,
#header-308-site .navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #737373;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
#header-308-site .navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006c9f;
  background-image: -moz-linear-gradient(top, #006c9f, #006c9f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006c9f), to(#006c9f));
  background-image: -webkit-linear-gradient(top, #006c9f, #006c9f);
  background-image: -o-linear-gradient(top, #006c9f, #006c9f);
  background-image: linear-gradient(to bottom, #006c9f, #006c9f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006c9f', endColorstr='#ff006c9f', GradientType=0);
  border-color: #006c9f #006c9f #003852;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #006c9f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#header-308-site .navbar-inverse .btn-navbar:hover,
#header-308-site .navbar-inverse .btn-navbar:focus,
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active,
#header-308-site .navbar-inverse .btn-navbar.disabled,
#header-308-site .navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #006c9f;
  *background-color: #005a85;
}
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active {
  background-color: #00496c \9;
}
#header-308-site small {
  font-size: 14px;
}
/*  =============================================  */

#header-308-site .nav > li.active > a {
	position:relative;
}
#header-308-site .nav > li.active > a:after {
	position:absolute;
	content:"\21";
	font-family:"icon-ui";
	color:#fff;
	top:41px;
	left:35%;
	font-size:25px;
}


#modal-example-HTML {
	background: rgba(0,0,0,0.8);
	padding:100px 0;
}

#popover-example-HTML {
	overflow:hidden;
	margin-bottom:20px;
}
#popover-example-HTML > ul > li > a {
	float:left;
	margin-right:20px;
}

.home-only {
	display:none;
}
#home .home-only {
	display:block;
}

