
.do-not-use:after {
  content:"NOT USED IN DELL 308";
  font-size:14px;
  font-family:"Trebuchet MS";
  color:white;
  background:red;
  height:20px;
  padding:10px;
  text-align:center;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
td.do-not-use:after {
  content:none;
}
td.do-not-use {
  content:none;
  opacity:.2;
}
th.do-not-use {
  position:relative;
}
th.do-not-use:after{
  position:absolute;
  left:0%;
  top:30px;
  font-size:10px;
  height:inherit;
  padding:2px;
  text-align:center;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.do-not-use {
  opacity:.2;
}
div.do-not-use:after {
display:none;
}

h1.do-not-use:after {
  position:relative;
  margin-left:10px;
  position:relative;
  top:-5px;
}
tr.do-not-use {
  position:relative;
}
tr.do-not-use td {
    opacity:.2;
}
tr.do-not-use:after {
  opacity:1;
  position:absolute;
  left:0;
  margin-top:10px;
}


.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

.large-icons li {
  height:50px;
}
.large-icons [class^=icon-large] {
  font-size:36px;
}

.the-icons li {
  width:24%;
  display:inline-block;
}

.tablet .the-icons li {
  width:32%;
}
.mobile .the-icons li {
  width:49%;
}

#icons [data-toggle="popover"] {
  cursor:help;
}

#icons li {
  margin-bottom:10px;
}
[class*=change-container] > li > a {
  color:#fff;
}
[class*=change-container] > li > a.white,
[class*=change-container] > li > a.gray-light,
[class*=change-container] > li > a.gray-very-light
 {
  color:#444;
}
[class*=change-container] {
  left: -43px;
  position: absolute;
  top: -6px;
}
.wrapper
 {
  overflow:visible;
}
header {
  position:fixed;
  z-index:1030;
  height:auto;
  left:0;
  top:0;
}
header .navbar {
    position:relative;
    padding-left:60px;
}
header .icon-ui-dell {
    font-size:50px;
    position:absolute;
    left:0;
    padding:10px;
    margin-top:-11px;
}
header .navbar-search {
    position:relative;
}
header .navbar-search .icon-ui-closecircle {
    display:none;
}
header .navbar-search.active .icon-ui-closecircle {
  display:block;
    position:absolute;
    right:5px;
    top:7px;
    font-size:20px;
    background:#fff;
    cursor:pointer;
    color:#ccc;
}
section#typography {
  margin-top:90px;
};
section {
  position:relative;
  z-index:0;
}

/*  ================ Clint's Really Bad Code ===============  */
/*
@media only screen and (min-width:768px) {
#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background:none;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}

#header-308-site .navbar .container {
  width: auto;
  margin-top: 15px;
}

#header-308-site .icon-ui-dell {
    font-size:50px;
    position:absolute;
    left:0;
    background:none; 
    padding:0px;
    margin-top:-15px;
    margin-left:-10px;
    -webkit-border-radius: none;
    border-radius: none; 
}

#header-308-site .navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: 30px;
  font-family: 'museo-for-dell-300';
  font-size: 25px;
  font-weight: 200;
  color: #007db8;
  text-shadow: 0 1px 0 #ffffff;
}
#header-308-site .dropdown-toggle:after {
  position: relative;
  font-family:none;
  content:none;
  top: 1px;
  float: right;
}
#header-308-site .open > .dropdown-toggle:after {
  content: none;
}
#header-308-site .navbar .nav > .active > a,
#header-308-site .navbar .nav > .active > a:hover,
#header-308-site .navbar .nav > .active > a:focus {
  color: #007db8;
  text-decoration: none;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none);
  box-shadow: none);
}
#header-308-site .navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}
#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
   border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}
#header-308-site .navbar-inverse .navbar-inner {
  background: none;
  border-color: none;
}
#header-308-site .navbar-inverse .brand,
#header-308-site .navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header-308-site .navbar-inverse .brand:hover,
#header-308-site .navbar-inverse .nav > li > a:hover,
#header-308-site .navbar-inverse .brand:focus,
#header-308-site .navbar-inverse .nav > li > a:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .brand {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-text {
  color: #ffffff;
}
#header-308-site .navbar-inverse .nav > li > a:focus,
#header-308-site .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #cce7f3;
}
#header-308-site .navbar-inverse .nav .active > a,
#header-308-site .navbar-inverse .nav .active > a:hover,
#header-308-site .navbar-inverse .nav .active > a:focus {
  color: #cce7f3;
  background-color: #007db8;
}
#header-308-site .navbar-inverse .navbar-link {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-link:hover,
#header-308-site .navbar-inverse .navbar-link:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .divider-vertical {
  border-left-color: #007db8;
  border-right-color: #007db8;
}
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle {
  background:none;
  color: #ffffff;
  font-size:16px;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background:none;
  color: #ffffff;
}
#header-308-site .navbar-inverse .nav li.dropdown > a:hover .caret,
#header-308-site .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #007db8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:focus,
#header-308-site .navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #737373;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
#header-308-site .navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: none;
  border-color: #006c9f #006c9f #003852;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #006c9f;
}
#header-308-site .navbar-inverse .btn-navbar:hover,
#header-308-site .navbar-inverse .btn-navbar:focus,
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active,
#header-308-site .navbar-inverse .btn-navbar.disabled,
#header-308-site .navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #006c9f;
  *background-color: #005a85;
}
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active {
  background-color: #00496c \9;
}
#header-308-site small {
  font-size: 14px;
}
#header-308-site input.search-query {
  padding-right: 15px;
}
#header-308-site .form-search  {
  width:300px;
  margin-right: 20px; 
}
#header-308-site .form-search .input-append .btn {
  right: -35px;
  z-index:3; 
}
#header-308-site .navbar {
  overflow: visible;
  margin-bottom: 15px;
  *position: relative;
  *z-index: 2;
}
#header-308-site .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 4px 10px 0 30px;
}
#header-308-site .navbar .nav > li > .dropdown-menu:before {
  content: none;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
#header-308-site .navbar .nav > li > .dropdown-menu:after {
  content: none;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
#header-308-site li.dropdown .dropdown-menu {
  margin: 15px 0 0 -15px;
}
*/
/*  =============================================  */


#header-308-site .dropdown-menu {
/*  width:1920px;
  margin-left: -250px;*/
  border-top: 1px solid #ffffff;
  *border-right-width: 1px;
  *border-bottom-width: 1px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}



/*@media only screen and (max-width:767px) {

#header-308-site .dropdown-menu {
	width:100%;
	border:none;

  	border-top: 1px solid #ffffff;
  	-webkit-border-radius: none;
  	-moz-border-radius: none;
  	border-radius: none;

}

 }*/

/*==================================================*/

#modal-example-HTML {
  background: rgba(0,0,0,0.8);
  padding:100px 0;
}

#popover-example-HTML {
  overflow:hidden;
  margin-bottom:20px;
}
#popover-example-HTML > ul > li > a {
  float:left;
  margin-right:20px;
}

.home-only {
  display:none;
}
#home .home-only {
  display:block;
}


#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background:none;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}

#header-308-site .navbar .container {
  width: auto;
  margin-top: 15px;
}

#header-308-site .icon-ui-dell {
    font-size:50px;
    position:absolute;
    left:0;
    background:none; 
    padding:0px;
    margin-top:-15px;
    margin-left:-10px;
    -webkit-border-radius: none;
    border-radius: none; 
}

#header-308-site .navbar .brand {
  float: left;
  display: block;
  padding: 12px 10px 10px 5px;
  margin-left: -20px;
  font-size: 25px;
  font-weight: none;
  font-family: 'museo-for-dell-300';
  color: #ffffff;
  text-shadow: none;
}
#header-308-site .dropdown-toggle:after {
  position: relative;
  font-family:none;
  content:none;
  top: 1px;
  float: right;
}
#header-308-site .open > .dropdown-toggle:after {
  content: none;
}
#header-308-site .navbar .nav > .active > a,
#header-308-site .navbar .nav > .active > a:hover,
#header-308-site .navbar .nav > .active > a:focus {
  color: #007db8;
  text-decoration: none;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none);
  box-shadow: none);
}
#header-308-site .navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}
#header-308-site .navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
   border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  *zoom: 1;
}
#header-308-site .navbar-inverse .navbar-inner {
  background: none;
  border-color: none;
}
#header-308-site .navbar-inverse .brand,
#header-308-site .navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#header-308-site .navbar-inverse .brand:hover,
#header-308-site .navbar-inverse .nav > li > a:hover,
#header-308-site .navbar-inverse .brand:focus,
#header-308-site .navbar-inverse .nav > li > a:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .brand {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-text {
  color: #ffffff;
}
#header-308-site .navbar-inverse .nav > li > a:focus,
#header-308-site .navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #cce7f3;
}
#header-308-site .navbar-inverse .nav .active > a,
#header-308-site .navbar-inverse .nav .active > a:hover,
#header-308-site .navbar-inverse .nav .active > a:focus {
  color: #cce7f3;
  background-color: #007db8;
}
#header-308-site .navbar-inverse .navbar-link {
  color: #ffffff;
}
#header-308-site .navbar-inverse .navbar-link:hover,
#header-308-site .navbar-inverse .navbar-link:focus {
  color: #cce7f3;
}
#header-308-site .navbar-inverse .divider-vertical {
  border-left-color: #007db8;
  border-right-color: #007db8;
}
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle {
  background:none;
  color: #ffffff;
  font-size:16px;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background:none;
  color: #ffffff;
  font-size:16px;
}
#header-308-site .navbar-inverse .nav li.dropdown > a:hover .caret,
#header-308-site .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#header-308-site .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
#header-308-site .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #cce7f3;
  border-bottom-color: #cce7f3;
}
#header-308-site .navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #007db8;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #aaaaaa;
}
#header-308-site .navbar-inverse .navbar-search .search-query:focus,
#header-308-site .navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #737373;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
#header-308-site .navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: none;
  border-color: #006c9f #006c9f #003852;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #006c9f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
#header-308-site .navbar-inverse .btn-navbar:hover,
#header-308-site .navbar-inverse .btn-navbar:focus,
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active,
#header-308-site .navbar-inverse .btn-navbar.disabled,
#header-308-site .navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #006c9f;
  *background-color: #005a85;
}
#header-308-site .navbar-inverse .btn-navbar:active,
#header-308-site .navbar-inverse .btn-navbar.active {
  background-color: #00496c \9;
}
#header-308-site small {
  font-size: 14px;
}
#header-308-site input.search-query {
/*  padding-right: 14px;*/
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header-308-site .form-search .input-append .btn {
  right: -15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index:3; 
}
#header-308-site .navbar {
  overflow: visible;
  margin-bottom: 15px;
  *position: relative;
  *z-index: 2;
}
#header-308-site .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 4px 10px 0 30px;
}
#header-308-site .navbar .nav > li > .dropdown-menu:before {
  content: none;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
#header-308-site .navbar .nav > li > .dropdown-menu:after {
  content: none;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
#header-308-site li.dropdown .dropdown-menu {
  margin: 15px 0 0 -15px;
}

/*  =============================================  */

/* small arrow divit code in mathead */
#header-308-site .nav > li.active > a {
  position:relative;
}
#header-308-site .nav > li.active > a:after {
  position:absolute;
  content:"\21";
  font-family:"icon-ui";
  color:#fff;
  top:41px;
  left:35%;
  font-size:25px;
}
#header-308-site .nav > li.active.open > a:after {
  color:#eee;
}


#header-308-site .dropdown-menu {
  border-top: 1px solid #ffffff;
  *border-right-width: 1px;
  *border-bottom-width: 1px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;

}
/*==================================================*/


/*---------------------------------------------*/

/*==================================================*/





/* new page (bo) ==================================================*/

div.page {
  margin-top:94px;
  margin-bottom:20px;
}

#css-overview section#typography {
  margin-top:0;
}

.home-page {
  background: url(../img/mountain.jpg) no-repeat;
  background-size: cover;
  min-height:600px;
}
.white.translucent {
    background-color: rgba(255, 255, 255, .90);
}

.sub-nav {
  position:fixed;
  z-index:1029;
  top: 94px;
  border-bottom: 1px solid #ccc;
}
.sub-nav ul li {
  float:left;
  width:20%;
    margin-bottom:10px;

}
.sub-nav ul li a {
  padding:5px 15px;
}
.sub-nav ul li a:hover {
  background:#CCE7F3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration:none;
}


@media only screen and (max-width:979px) {
  /* clint - this is a start to make the mobile/tablet nav - durty durty durty lol */
  #header-308-site .wrapper {
      padding-left:20px;
      padding-right:20px;
  }
  #header-308-site .navbar {

  }
  #header-308-site .nav-collapse, .nav-collapse.collapse {
    background:#eee;
    position: fixed;
    width: 100%;
    left: 0;
    top: 92px;
  }
  #header-308-site .navbar-inverse .btn-navbar {
    margin-right:-20px;
    margin-top: 22px;
  }
  #header-308-site .nav-collapse.collapse li > a {
    color: #444;
    text-shadow: none;
  }

}



/*Pager js transitions */

.pagerjs-fx-zoom {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg) scale(0.1);
  -moz-transform: rotate(0deg) scale(0.1);
  -ms-transform: rotate(0deg) scale(0.1);
  -o-transform: rotate(0deg) scale(0.1);
  transform: rotate(0deg) scale(0.1);
}
.pagerjs-fx-zoom-in {
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}
.pagerjs-fx-flip {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotatey(90deg) scale(1);
  -moz-transform: rotatey(90deg) scale(1);
  -ms-transform: rotatey(90deg) scale(1);
  -o-transform: rotatey(90deg) scale(1);
  transform: rotatey(90deg) scale(1);
}
.pagerjs-fx-flip-in {
  -webkit-transform: rotatey(0deg) scale(1);
  -moz-transform: rotatey(0deg) scale(1);
  -ms-transform: rotatey(0deg) scale(1);
  -o-transform: rotatey(0deg) scale(1);
  transform: rotatey(0deg) scale(1);
}
.pagerjs-fx-popout-modal {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.pagerjs-fx-popout-modal-in {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}
>>>>>>> e6b99a49a924ba3c84de1d7ad9a56cb39ed4409b
