
.do-not-use:after {
	content:"NOT USED IN DELL 308";
	font-size:14px;
	font-family:"Trebuchet MS";
	color:white;
	background:red;
	height:20px;
	padding:10px;
	text-align:center;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
td.do-not-use:after {
	content:none;
}
td.do-not-use {
	content:none;
	opacity:.2;
}
th.do-not-use {
	position:relative;
}
th.do-not-use:after{
	position:absolute;
	left:0%;
	top:30px;
	font-size:10px;
	height:inherit;
	padding:2px;
	text-align:center;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
div.do-not-use {
	opacity:.2;
}
div.do-not-use:after {
display:none;
}

h1.do-not-use:after {
	position:relative;
	margin-left:10px;
	position:relative;
	top:-5px;
}
tr.do-not-use {
	position:relative;
}
tr.do-not-use td {
		opacity:.2;
}
tr.do-not-use:after {
	opacity:1;
	position:absolute;
	left:0;
	margin-top:10px;
}


.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}


.hide-expanded, .collapsed .show-collapsed {
	display:block;
}
.collapsed .hide-expanded, .show-collapsed {
	display:none;
}

.large-icons li {
	height:50px;
}
.large-icons [class^=icon-large] {
	font-size:36px;
}

.the-icons li {
	width:24%;
	display:inline-block;
}

.tablet .the-icons li {
	width:32%;
}
.mobile .the-icons li {
	width:49%;
}

#icons [data-toggle="popover"] {
	cursor:help;
}

#icons li {
	margin-bottom:10px;
}
.change-container-color > li > a {
	color:#fff;
}
.change-container-color > li > a.white,
.change-container-color > li > a.gray-light,
.change-container-color > li > a.gray-very-light,
.change-container-color-stroke > li > a.white,
.change-container-color-stroke > li > a.gray-light,
.change-container-color-stroke > li > a.gray-very-light,
.change-container-color-stroke-title > li > a.white,
.change-container-color-stroke-title > li > a.gray-light,
.change-container-color-stroke-title > li > a.gray-very-light
 {
	color:#444;
}
.change-container-color, .change-container-color-stroke, .change-container-color-stroke-title {
	left: -43px;
	position: absolute;
	top: -6px;
}
#containers .wrapper,
#pills .wrapper
 {
	overflow:visible;
}