
/*temp*/

  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #007db8;
    border-bottom-color: #007db8;
  
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 2000;
    clear: both;
}

  #header-308-site .nav-collapse, .nav-collapse.collapse {
    background:#eee;
    position: fixed;
    width: 100%;
    left: 0;
    top: 140px;
  }