<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
    <title>Dell Sherpa Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      var SHERPA_CONFIG_OVERRIDES = {};
        SHERPA_CONFIG_OVERRIDES.GLOBAL_CONFIG = "assets/config/datepicker.json";
    </script>


	<!-- Don't touch 
	******************************************************************************** -->
	<style>body{opacity:0}body.ng-scope{opacity:1}</style>
	<script src="../../_sherpa/sherpa.v08.js"></script>	
	<!-- Sherpa js adds all the js and css files you need.
	******************************************************************************** -->	
</head>
<body ng-controller="pageController">

	<section class="da-all ta-all ma-all top-offset-medium">
		<div class="wrapper">

          <div class="title">
            <h1 class="title">Date Picker Example</h1>
          </div>
        

			<div class="da-all ta-all ma-all">

<div class="well">
          <h2>Example</h2>
          <p>Attached to a field with the format specified via options.</p>
          <div class="well">
            <input type="text" class="datepicker input-large" ng-model="datepicker.date">
          </div>
          <p>Attachet to a field with the format specified via data tag.</p>
          <div class="well">
            <input type="text" class="datepicker input-large" data-date-format="mm/dd/yy" ng-model="datepicker.date">
          </div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

			</div>
		</div>
	</section>





</body>

</html>