/* Prototype LESS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For Docs Masthead */
.docs-masthead .wrapper {
  overflow: visible;
}
.docs-masthead .utility-nav {
  height: 30px;
  padding-top: 5px;
}
.docs-masthead .navbar {
  height: 90px;
  margin-bottom: 0;
}
.docs-masthead .navbar .brand {
  margin-left: -50px;
}
.docs-masthead .navbar .brand .icon-ui-dell {
  font-size: 62px;
  height: 62px;
  width: 90px;
  float: left;
}
.docs-masthead .navbar .brand h2 {
  float: left;
  margin-top: 18px;
}
.docs-masthead .navbar .nav-collapse {
  margin-top: 26px;
}
.docs-masthead .navbar .nav li > a:hover {
  height: 90px;
  margin-top: -26px;
  padding-top: 36px;
}
.docs-masthead .navbar .nav .active > a,
.docs-masthead .navbar .nav .active > a:hover,
.docs-masthead .navbar .nav .active > a:focus {
  height: 90px;
  margin-top: -26px;
  cursor: default;
  padding-top: 36px;
  color: #fff;
}
.docs-masthead .navbar .nav .main-active > a,
.docs-masthead .navbar .nav .main-active > a:hover,
.docs-masthead .navbar .nav .main-active > a:focus {
  height: 90px;
  margin-top: -26px;
  cursor: default;
  padding-top: 36px;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.sherpa-aside.nav-list li:first-child > a {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
.sherpa-aside.nav-list li {
  line-height: 25px;
}
.sherpa-aside.nav-list li:last-child > a {
  padding-bottom: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.sherpa-aside.affix {
  top: 20px;
}
#tabbable-aside-example-HTML .tabbable.tabs-aside > .tab-content {
  left: -5.5%;
}
#tabbable-aside-example-HTML .nav-list + .back-to-top {
  margin-left: 45%;
}
#documentation-home {
  background: url(../img/mountain.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.translucent {
  background: rgba(255, 255, 255, 0.95);
}
.sherpa-intro blockquote {
  border: none;
  text-align: right;
  width: 60%;
  float: right;
}
.sherpa-description {
  padding: 30px 0;
}
#aside-example-HTML {
  display: none;
}
#modal-example-HTML {
  background: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}
#modal-example-HTML .modal {
  position: relative;
  clear: both;
  z-index: 0;
}
#popover-example-HTML {
  overflow: hidden;
  margin-bottom: 20px;
}
#popover-example-HTML > ul > li > a {
  float: left;
  margin-right: 20px;
}
.large-icons li {
  height: 50px;
}
.large-icons [class^=icon-large] {
  font-size: 36px;
}
.the-icons li {
  width: 24%;
  display: inline-block;
}
.tablet .the-icons li {
  width: 32%;
}
.mobile .the-icons li {
  width: 49%;
}
#icons [data-toggle="popover"] {
  cursor: help;
}
#icons li {
  margin-bottom: 10px;
}
[class*=change-container] > li > a {
  color: #fff;
}
[class*=change-container] > li > a.white,
[class*=change-container] > li > a.gray-light,
[class*=change-container] > li > a.gray-very-light {
  color: #444;
}
.page-header {
  margin-top: 0;
}
/*[id^=css-overview] > .wrapper {
	overflow:visible;
}*/
.well.mountain {
  background: url(../img/mountain.jpg) no-repeat;
  background-size: cover;
  opacity: .4;
  background-position-y: bottom;
  background-position-x: -1751px;
}
/* Pretty print stuff */
/***************************************************************************************/
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun,
.opn,
.clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str,
.atv {
  color: #D14;
}
.kwd,
.prettyprint .tag {
  color: #1e347b;
}
.typ,
.atn,
.dec,
.var {
  color: teal;
}
.pln {
  color: #48484c;
}
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */

}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
/* end of Pretty print stuff */
/***************************************************************************************/
/* For mobile */
@media only screen and (max-width: 767px) {
  .sherpa-aside.affix-top {
    margin-bottom: 20px;
    width: 100% !important;
  }
  .sherpa-aside.affix {
    top: 0;
    left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .sherpa-aside.affix li {
    display: none;
  }
  .sherpa-aside.affix li:first-child > a,
  .sherpa-aside.affix li:last-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .sherpa-aside.affix li.active {
    display: block;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5;
  }
  .docs-masthead .navbar .brand {
    margin-left: -30px;
  }
  .docs-masthead .navbar .brand h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
/* For tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}
