 


  <div class="wrapper">
    <!-- Logo -->
    <div class="da1-da4 ta1-ta3 ma-all">
      <h2><a href="#">Dell GDC Prototype</a></h2>
    </div>


    <div class="da5-da8 ta4-ta6 ma-all">
      <h2>Project Name</h2>
    </div>


    <div class="da9-da12 ta7-ta9 ma-all">
      <a href="#" 
        class="btn btn-tertiary" 
        rel="popover" 
        data-placement="bottom" 
        data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
        data-original-title="Popover on bottom">Project Information</a>
    </div>
  </div>
