 


  <div class="wrapper">
    <!-- Logo -->
    <div class="da1-da2 ta1-ta2 mb1">
      <div class="brand-sherpa">
        <a href="#">Sherpa</a>
      </div>
    </div>

    <!-- menu collapse (tablet and phone) -->
    <div class="da-hide ta3-ta9 mb2-mb4 right-text">
      <a href="#" id="menu-toggle" class="nav-sherpa-collapse"><span aria-hidden="true" class="icon-ui-menucollapsed"></span></a>
    </div>

    <!-- menu -->
    <div id="menu" class="da3-da12 ta-hide ma-hide">
      <nav class="nav-sherpa">
        <ul data-bind="foreach: $__page__.children">
          <li data-bind="css: {active: isVisible}">
            <a class="lead" data-bind="page-href: $data">
                <span data-bind="text: val('desc')"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
