

<script type="text/javascript">


  var getComponentData = _.once(function(options){
    var table_obj = {}
    //TODO put default options in config
    var default_options = {
          parseTo: 'objects',
          recordsPerPage: 20,
          dataFileName : 'sample_customer_list_en.csv'
    } 
    if(options){
      table_obj.component_options = _.extend(default_options, options);
    }
    Sherpa.request({
      resourceId: "data", 
      data: {
        "filename" : table_obj.component_options.dataFileName,
      },
      success: function(responseCSV){
        //Parse will depend on the data.parseTo options.
        var data_obj = $.csv.toObjects(responseCSV);
        table_obj.keys = _.keys(data_obj[0]);
        table_obj.items = [];
        data_obj.shift();
        _.each(data_obj, function(item){
          table_obj.items.push(_.values(item));
        })

      }
    });
    console.log(table_obj)
    return table_obj;
  });


</script>

<!-- ko with: getComponentData(component_options) -->

 <p data-bind="text: $data.keys"></p>
<table>
  <thead>
    <tr data-bind="foreach: $data.keys">
      <th data-bind="text: $data"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-bind="foreach: $data.items">
      <th data-bind="text: $data"></th>
    </tr>
  </tbody>
</table>

<!-- /ko -->
