/* Prototype CSS */

/* MASTHEAD CSS */
/* MASTHEAD CSS */
/* MASTHEAD CSS */
.masthead .wrapper {
    overflow: visible;
}
.masthead .utility-nav {
    height: 30px;
    padding-top: 5px;
}
.masthead .navbar {
    height: 90px;
    margin-bottom: 0;
}
.masthead .navbar .brand {
    margin-left: -50px;
}
.masthead .navbar .brand .icon-ui-dell {
    font-size: 62px;
    height: 62px;
    width: 90px;
    float: left;
}
.masthead .navbar .brand h2 {
    float: left;
    margin-top: 18px;
}
.masthead .navbar .nav-collapse {
    margin-top: 26px;
}
.masthead .navbar .nav .active > a,
.masthead .navbar .nav .active > a:hover,
.masthead .navbar .nav .active > a:focus {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* For mobile */
@media only screen and (max-width: 767px) {

}
/* For tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {

}


/* TABS CSS */
/* TABS CSS */
/* TABS CSS */

header .wrapper {
	overflow:visible;
}
.utility-nav {
	height:30px;
	padding-top:5px;
}
.main-nav {
	height:90px;
	padding-top:10px;
}
.icon-ui-dell.masthead {
	font-size:62px;
}

.horiz-tabbable.horiz-tabs .horiz-tab-content {
    position: relative;
    padding-left: 4.08163265%;
    padding-right: 4.08163265%;
    left: -4.08163265%;
    z-index: 1;
    background: #ffffff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*-webkit-box-shadow: -10px 0px 5px -9px rgba(0, 0, 0, 0.4);*/
    /*-moz-box-shadow: -10px 0px 5px -9px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: -10px 0px 5px -9px rgba(0, 0, 0, 0.4);*/
    margin-bottom: 20px;
}