<!-- TODO need to add fail safe for when data is not in context -->
<script type="text/javascript">
	
	Sherpa.componentJS.dropdown_button_js = function(data){

		var data.button_class = 'btn dropdown-toggle';
		if(data.component_options.color) {
			data.button_class += ' btn-'+data.component_options.color;
		}
		if(data.component_options.size) {
			data.button_class += ' btn-'+data.component_options.size;
		}
		if(!data.items){
			data.items = viewModel.core_config.default_dropdown_data;
		}
		return data;

	};
	
</script>

<!-- ko with: Sherpa.componentJS.dropdown_button_js($data) -->

<div class="btn-group">

	<button 
		data-toggle="dropdown" 
		data-bind="attr : { class : button_class) }"><span data-bind="text : label"></span> <span class="caret"></span></button>


	<ul class="dropdown-menu" data-bind="foreach: items">

		<!-- ko if: $data.items -->
		<li class="dropdown-submenu">
			<a tabindex="-1" data-bind="attr: { 'rel': id, 'href' : url }, text: label"></a>
			<ul class="dropdown-menu" data-bind="foreach: $data.items">
			  <li><a href="#" data-bind="attr: { 'rel': id, 'href' : url }, text: label"></a></li>
			</ul>
		</li>
		<!-- /ko -->
		<!-- ko ifnot: $data.items -->
			<!-- ko ifnot: $data.divider -->
			<li><a href="#" data-bind="attr: { 'rel': id, 'href' : url }, text: label"></a></li>
			<!-- /ko -->
			<!-- ko if: $data.divider -->
		  	<li class="divider"></li>
			<!-- /ko -->
		<!-- /ko -->

	</ul>


</div>
<!-- /ko -->
