

<div class="btn-group">
	<button data-toggle="dropdown" class="btn dropdown-toggle btn-tertiary">Action <span class="caret"></span></button>
	<ul class="dropdown-menu">
	  <li><a href="#">Action</a></li>
	  <li><a href="#">Another action</a></li>
	  <li><a href="#">Something else here</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Separated link</a></li>
	</ul>
	<!-- 
	<ul class="dropdown-menu" data-bind="foreach: $data.items">
		<li><a data-bind="attr: {href:'#', text: 'action' }"></li>
	</ul>
	-->
</div>
<!-- TODO got to build the separator logic and second level nav would be a good place to use template -->